<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul>
      <% @lists.each do |list| %>
        <article>
          <h2><%= link_to list.name, list_path(list) %></h2>
        </article>
      <% end %>
    </ul>
  </div>
</div>
